@model MVC.Models.Data


    @{
        Layout = null;
        
    }

    <!DOCTYPE html>
    <html>
    <head>
        <title>CSharp練習main</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/styles.css">
        <script src="../Scripts/jquery-2.2.2.min.js"></script>
        <script src="../Scripts/myScript.js"></script>
    </head>
    <body onload="AutoLoad()">
        <div class="center">

            <table>
                <caption>CSharp練習_留言版  @Model.Account</caption>
                <tr>
                    <td>
                        <div align="right">

                            @if (Model.Account == "")
                            {
                                
                                @Html.ActionLink("登入", "messages/Login")

                            }
                            else
                            {
                       
                                @Html.ActionLink("登出", "messages/Login")
                            }


                        </div>
                        <div id="loadingIMG" style="display:none;text-align:center"><img src="../image/loading.gif" height='44' /></div>
                        <div class="main">
                        </div>
                        <div class="NewMsg">
                        </div>
                     
                       @if (Model.Account != "")
                        {
                        <hr color="green">
                        <b> 新留言 </b> <font class="FontColorClass01">  </font>
                        <br><br>
                        <input type = "text" name="NewMsg" id="NewMessage">
                        <p id = "tip01" style="display:none">請輸入留言!</p>
                        <p align = "right" > <input class="button" type="button" value="發佈" onclick="Check_Main()"> <input type = "reset" value="取消"></p> 
                        }
                       

                    </td>
                </tr>
            </table>
        </div>
        @*@foreach (var item in Model.message)
        {
           
                    @Html.DisplayFor(modelItem => item.Message1)
               
        }*@
    </body>
</html>
